body
{
display:inline-flex;
justify-content: space-between; /* éventuellement essayer space-between*/
}
aside
{
	display: flex;
	flex-direction: column ;
	width: 25%;
	background-color:#9FA8DA;
	justify-content: center;
	padding-left: 0px;
	padding-right: 0px;
}
 #contenu
{
	text-align: justify;
	padding: 50px 30px;
}
aside h2
{
	background-color: #84FFFF;
	text-align: center;
	width: 100%;
	
}
#photo
{
	text-align: center;
}
#contact ul
{
	list-style-type: none;
	
}
#parcours p
{
	padding: 30px;
	text-align: justify;
}
#loisirs
{

}