body
{
	display: flex;
	justify-content: center;
}
#contenu
{
display:inline-flex;
width: 80%;
}
h2
{
	text-transform: uppercase;
}
/*partie gauche*/
aside
{
	display: flex;
	flex-direction: column ;
	width: 30%;
	background-color:#9FA8DA;
	justify-content: center;
	padding-left: 0px;
	padding-right: 0px;
}


aside h2
{
	background-color: #84FFFF;
	text-align: center;
	width: 100%;
	
}
#photo
{
	text-align: center;
}
#photo img
{
	border: 1px;
	border-radius: 50px;
}	
ul
{
	list-style-type: none;
	
}
#parcours p
{
	padding: 30px;
	text-align: justify;
}

/*partie droite*/
 #principal
{
	display: flex;
	flex-direction: column;
	text-align: justify;
	padding: 50px 30px;
	justify-content: space-around;
	background-color: #EEEEEE;

}
header
{
	margin: 30px;
}
#titrecv
{
	margin: auto;
}
h1
{
	font-size: 3em;
}
h3
{
	font-size: 2em;
}
#prenom
{
	color: #303F9F;
}
#dev
{
	text-decoration: underline #303F9F;
}
section
{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	justify-content: space-between;
	flex-grow: 1;
}
hr
{
	color: #303F9F;
	line-height: 4px;
}
footer
{
	
}