h1,h2
{
	text-align: center;
}

h2
{
	color: #68653b;
}
body
{
	display: flex;

}
#liseret
{
	width: 300px;
	background-color: #7C4DFF;
	border-radius: 20px;

}
@media all and (max-width: 1024px)

body
{
	display: flex;
}
img
{
	float: right;
}
#contenu
{
	display: flex;
	flex-direction: column;
}
.corps
{
	display: flex;
	justify-content: space-around;
}
.corps div
{
	width: 30%;
}
@media all and (max-width: 1024px)
{
	.corps
	{
		flex-direction: column;
	}
	.corps div
	{
		width: auto;
	}
}
header
{
	display: inline-flex;
	vertical-align: top;
	justify-content:space-between;
}
#titrecv
{
	flex-grow: 1;
	text-align: center;
}